---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import github from '../img/github.svg';
import anchor from '../img/anchor.svg';
import code from '../img/code.svg';
import box from '../img/box.svg';
import arrowDownArrow from '../img/arrow-down-circle.svg';
---

<Layout title="Alexander">
	<div class="home-intro">
		<h1 class="title">Alexander</h1>
		<p class="subhead">Front-End Starter Kit</p>
		<div class="get">
			<p class="version">Version 1.0.3</p>
			<a href="https://github.com/samhermes/alexander">
				<Image src={github} alt="" />
				<span class="screen-reader-text">Alexander on GitHub</span>
			</a>
		</div>
	</div>
	
	<section class="home-docs">
		<h2>Learn how to use Alexander</h2>
		<p>Alexander was built in two distinct levels, a base level that includes browser consistency styles and standard accessibility features, and an implementation level, broken out into elements and components. Include just the base level in your project and or include all for a jump start.</p>
		<ul class="docs-entry">
			<li>
				<a href="/base">
					<Image src={anchor} alt="" />
					Base
				</a>
			</li>
			<li>
				<a href="/elements">
					<Image src={code} alt="" />
					Elements
				</a>
			</li>
			<li>
				<a href="/components">
					<Image src={box} alt="" />
					Components
				</a>
			</li>
		</ul>
	</section>
	
	<section class="home-download">
		<div class="download-intro">
			<h2>Download and get started</h2>
			<p>Including Alexander in your own project is easy. Start with the base bundle for unopinionated starter styles, or include the design bundle to get a set of ready-made components.</p>
		</div>
		<ul class="download-list">
			<li>
				<a href="/alexander/css/alexander-base.css" download>
					<Image src={arrowDownArrow} alt="" />
					Bundle - Base
				</a>
			</li>
			<li>
				<a href="/alexander/css/alexander.css" download>
					<Image src={arrowDownArrow} alt="" />
					Bundle - Full
				</a>
			</li>
			<li class="download-source">
				<a href="https://github.com/samhermes/alexander/archive/refs/heads/master.zip">
					<Image src={arrowDownArrow} alt="" />
					All Source Files
				</a>
			</li>
		</ul>
	</section>
</Layout>

<style lang="scss">
	.home-intro {
		width: 100%;
		position: relative;
		background-color: #fff;
		border-bottom: 1px solid var(--medium-gray);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 4rem 0;

		.site-icon {
			color: var(--text-color);
		}

		.title {
			font-size: 4rem;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 0.2rem;
		}

		.subhead {
			font-size: 0.9rem;
			font-weight: 500;
			line-height: 1.2;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			margin-bottom: 2.5rem;
		}
	}

	section {
		padding: 3rem 1rem;

		@media screen and (min-width: 37.5em) {
			padding: 4.5rem 2rem;
		}

		h2 {
			text-align: center;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.3rem;
		}

		ul {
			list-style: none;
			margin: 0 auto;
			padding: 0;
		}
	}

	.home-docs {
		text-align: center;

		p {
			max-width: 48rem;
			margin: 0 auto 3rem;
		}
	}

	.docs-entry {
		display: grid;
		grid-gap: 2rem;
		max-width: 62.5rem;
		margin-bottom: 1rem;

		@media screen and (min-width: 37.5em) {
			grid-template-columns: repeat(3, 1fr);
		}

		li {
			font-size: 1.5rem;

			a {
				text-decoration: none;
				display: block;
				padding: 2rem;
				background-color: #fff;
				border: 1px solid var(--medium-gray);
				border-radius: 0.8rem;
				box-shadow: 0 2px 3px var(--box-shadow);
				transition: box-shadow 0.3s;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
				}
			}

			img {
				display: block;
				margin: 0.2rem auto 1rem;
			}
		}
	}

	.home-download {
		padding-bottom: 8rem;

		@media screen and (min-width: 37.5em) {
			display: grid;
			grid-template-columns: minmax(0, 29.25rem) minmax(0, 29.25rem);
			justify-content: center;
			grid-gap: 4rem;
		}

		h2 {
			text-align: left;
			margin-bottom: 1.5rem;
		}

		p {
			margin-bottom: 2rem;

			@media screen and (min-width: 37.5em) {
				max-width: 28rem;
				margin-bottom: 0;
			}
		}
	}

	.download-list {
		display: grid;
		grid-gap: 1rem;
		margin: 0;

		li {
			font-size: 1.2rem;

			a {
				display: block;
				text-decoration: none;
				padding: 0.5rem 1rem;
				background-color: #fff;
				border: 1px solid var(--medium-gray);
				border-radius: 0.5rem;
				box-shadow: 0 2px 3px var(--box-shadow);
				transition: box-shadow 0.3s;
		
				&:hover {
					box-shadow: none;
				}
		
				img {
					margin: -0.15rem 0.6rem 0 0;
					width: 1.2rem;
					height: 1.2rem;
				}
			}
		}
	}

	.get {
		display: flex;

		a {
			will-change: opacity;
			transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.version {
		font-size: 1.125rem;
		font-weight: 600;
		margin-bottom: 0;
		padding-right: 1rem;
		border-right: 1px solid var(--medium-gray);
		margin-right: 1rem;
	}
</style>
